@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*{
    font-family: 'Comic Neue', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 2rem;
}
.banner {
    background: url(../img/design1_image2.jpg);
    background-size:cover;
    background-position:center;
    height: 300px;
    display: block;
}
h2 {
    text-align: center;
    padding: 10px;
    display: block;
    position: relative;
    bottom: -300px;
    border: 1px solid rgb(0, 0, 0);
}
.logo {
    width: 150px;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    top: 150px;
    left: 80px;
}
nav a {
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    position:relative;
    left:1000px;
    bottom:465px;
}
#navegador1 {
    background-color: rgb(10, 180, 10);
    color: rgb(255, 255, 255);
}
#navegador2y3 {
    background-color: rgb(14, 14, 189);
    color: rgb(250, 250, 250);
}
.secciones {
    width: 833px;
    padding: 10px;
    position: relative;
    bottom: 100px;
    left: 300px;   
}
section {
    margin: 70px;
}
#imagen1{
    border:8px inset rgb(250, 246, 39);
    height: 300px;
    position: relative;
    left: 380px ;
    top: 10px;
}
#imagen2{
    border-top-left-radius: 50%;
    position: relative;
    bottom: 320px;
    margin-left: 30px; 
    width: 200px; 
    border: 3px solid rgb(180, 141, 218);
    
}
#imagen3{
    border:5px dashed rgb(19, 231, 160);
    position: relative;
    left: 380px;
    bottom: 100px;
}